* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "gamer";
  src: url("assets/fonts/gamer.ttf") format("ttf"),
    url("assets/fonts/gamer.woff2") format("woff2"),
    url("assets/fonts/gamer.woff") format("woff"),
    url("assets/fonts/gamer.eot") format("eot"),
    url("assets/fonts/gamer.otf") format("otf"),
    url("assets/fonts/gamer.svg") format("svg");
}

#ranking {
  width: 15vw;
  height: 96vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #011133;
  margin: 2vh 1vw 2vh 1vw;
}
#ranking h2 {
  font-family: "gamer", sans-serif;
  font-size: 50px;
  -webkit-text-fill-color: #d95204;
  padding: 20px;
}
.infoRanking h3 {
  color: #f2a516;
  font-family: "gamer", sans-serif;
  font-size: 40px;
  padding: 0px 20px;
}
.infoRanking h4 {
  color: #d95204;
  font-family: "gamer", sans-serif;
  font-size: 30px;
  padding: 5px 20px;
}
.topThree h3{
  color: #f2a516;
  font-family: "gamer", sans-serif;
  font-size: 40px;
  padding: 0px 20px;
}
.topThree h4{
  color: #d95204;
  font-family: "gamer", sans-serif;
  font-size: 30px;
  padding: 5px 20px;
}
summary{
  font-family: "gamer", sans-serif;
  font-size: 50px;
  -webkit-text-fill-color: #d95204;
  padding: 20px;
  cursor: pointer;
}
::marker{
  color:#f2a516;
  font-size: 20px;
}
.username,
.startgame,
.play,
.score {
  width: 81vw;
  height: 96vh;
  margin: 2vh 0vw 2vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("assets/stars_texture2957.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: move-bg 30s infinite linear;
}
@keyframes move-bg {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1977px -1448px;
  }
}
.username h1 {
  font-family: "gamer", sans-serif;
  font-size: 100px;
  -webkit-text-fill-color: #f2a516;
  padding: 20px;
  text-align: center;
}
.username h3 {
  color: #d95204;
  font-family: "gamer", sans-serif;
  font-size: 40px;
}

.username form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username input {
  height: 8vh;
  width: 30vw;
  margin: 2vh;
  border: 15px solid #d95204;
  background-color: #f2a516;
  font-family: "gamer", sans-serif;
  font-size: 40px;
  color: white;
  padding: 20px;
}

.username button {
  width: 30vw;
  background-color: #fecea800;
  border: 1px solid #2a363b00;
  cursor: pointer;
  font-family: "gamer", sans-serif;
  color: #f2a516;
  font-size: 150px;
  -webkit-text-stroke: 6px #d95204;
}

.startgame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.startgame button {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 50vw;
  background-color: #011133;
  border: 15px solid #f2a516;
  cursor: pointer;
  font-family: "gamer", sans-serif;
  color: #f2a516;
  font-size: 150px;
  -webkit-text-stroke: 6px #d95204;
  padding: 10px 10px 30px 10px;
}
.container-counters {
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width: 81vw;
  background-color: #011133;
  border: 15px solid #f2a516;
}
.container-play-btn {
  height: 91vh;
  width: 81vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown,
.click-counter {
  color: #f2a516;
  font-family: "gamer", sans-serif;
  font-size: 150px;
}
.container-play-btn div {
  height: 10vh;
  width: 90px;
  background-image: url("assets/retro_rocket_vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(55deg);
}
.score h1 {
  font-family: "gamer", sans-serif;
  font-size: 150px;
  -webkit-text-fill-color: #f2a516;
  padding: 20px;
  text-align: center;
}
.score h3 {
  font-family: "gamer", sans-serif;
  font-size: 100px;
  -webkit-text-fill-color: #d95204;
  padding: 20px;
  text-align: center;
}
.score p {
  color: #f2a516;
  font-family: "gamer", sans-serif;
  font-size: 40px;
  padding: 10px;
}
.playAgain {
  width: 30vw;
  background-color: #fecea800;
  border: 1px solid #2a363b00;
  cursor: pointer;
  font-family: "gamer", sans-serif;
  color: lightyellow;
  font-size: 150px;
  -webkit-text-stroke: 6px #d95204;
  line-height: 0.6em;
}

@media screen and (max-width: 1500px) {
  .score h1 {
    font-size: 140px;
    padding: 0px;
  }
  .score h3 {
    font-size: 80px;
    padding: 0px;
  }
  .score p {
    padding: 5px;
  }
  .playAgain {
    width: 25vw;
    font-size: 130px;
  }
}

@media screen and (max-width: 1150px) {
  .username h1 {
    font-size: 90px;
    padding: 20px;
  }

  .username form {
    height: 30vh;
  }

  .username input {
    height: 7vh;
    border: 14px solid #d95204;
    font-size: 35px;
  }

  .username button {
    width: 25vw;
    font-size: 130px;
    -webkit-text-stroke: 4px #d95204;
  }
  .startgame {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1040px) {
  .username h1 {
    font-size: 80px;
  }
  .username button {
    font-size: 120px;
  }
  .score h1 {
    font-size: 120px;
  }
  .score h3 {
    font-size: 50px;
    margin-block: 0px;
    display: inline-flex;
  }

  .playAgain {
    font-size: 120px;
  }
}

@media screen and (max-width: 360px) {
  #ranking {
    width: 98vw;
    height: 50vh;
    position: relative;
    margin: 2vh 1vw 2vh 1vw;
  }

  .username,
  .startgame,
  .play,
  .score {
    width: 98vw;
  }

  .username h1 {
    font-size: 55px;
  }

  .username h3 {
    color: #d95204;
    font-family: "gamer", sans-serif;
    font-size: 35px;
  }

  .username input {
    height: 7vh;
    width: 70vw;
    border: 14px solid #d95204;
    font-size: 35px;
  }

  .username button {
    width: 50vw;
    background-color: #fecea800;
    border: 1px solid #2a363b00;
    cursor: pointer;
    font-family: "gamer", sans-serif;
    color: #f2a516;
    font-size: 110px;
    -webkit-text-stroke: 4px #d95204;
  }

  .startgame button {
    width: 70vw;
    border: 13px solid #f2a516;
    font-size: 90px;
    -webkit-text-stroke: 3px #d95204;
    padding: 10px 25px 30px 25px;
  }

  .container-counters {
    height: 20vh;
    width: 98vw;
    background-color: #011133;
    border: 15px solid #f2a516;
  }
}

.non-visible {
  display: none;
}
